<h1>Edit Destination #<%= current_user.id %> by <%= current_user.username %></h1>

<form action="/destination/<%=current_user.id%>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="content" value="<%=current_user.destinations%>" size="100">
  <input type="submit" id="submit" value="Edit Destination">

</form>
