<h1>Destination #<%= current_user.id %> by <%= current_user.username %></h1>

<form action="/destination/<%=current_user.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" id="submit" value="Delete">
</form>
<p>
  <a href="/destination/<%=current_user.id%>/edit">Edit</a>
</p>
