<h1>Welcome, <%= current_user.username %> </h1>
<h2> Destinations show page </h2>

<h2>Your list of places:</h2







<form method="POST" action="/destination/new">
  <p>Click "New Destination" for create a new destination <input type="submit" id="submit" value="New Destination"></p>
</form>
