<h2>Destination:</h2>

<a href="/destination/<%= @destination.id %>/edit">Edit</a>
<br><br>
<form action="/destination/<%= @destination.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="" value="Delete Entry">
</form>

<% end  %>
