<p> Welcome
<h2> Destinations </h2>


<h2>user show page</h2>
<form method="POST" action="/destination/new">
  <p>Click "New Destination" for create a new destination <input type="submit" id="submit" value="New Destination"></p>
</form>
